# Database
POSTGRES_CONNECTION_URL="postgresql://postgres:1234@localhost/postgres"

# Auth
SECRET_KEY="YOUR_SECRET_KEY"
ALGORITHM="ALGORITHM_USED"
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7

# GitHub App
GITHUB_APP_ID="YOUR_GITHUB_APP_ID"
GITHUB_PRIVATE_KEY_PATH="path/to/private-key.pem"
GITHUB_CLIENT_ID="YOUR_GITHUB_CLIENT_ID"
GITHUB_CLIENT_SECRET="YOUR_GITHUB_CLIENT_SECRET"
GITHUB_WEBHOOK_SECRET="YOUR_GITHUB_WEBHOOK_SECRET"

# RQ Config
REDIS_URL="redis://localhost:6379/0"
NUM_WORKERS=2

FRONTEND_URL="http://localhost:5173"

REPOS_BASE_PATH="/path/to/delta.backend/repos"

# LLM Config
GEMINI_API_KEY="YOUR_GEMINI_API_KEY"
LLM_MODEL="gemini-2.5-flash"
