# Python
__pycache__/
*.pyc

# Virtual Environments
.venv/
venv/

# Environment Variables
.env

# Security & Secrets
keys/
*.pem

# Testing & Coverage
.coverage
.coverage.**

# OS
.DS_Store

# Project-specific
/repos